html {
	height:100%;
}
body {
	height:100%;
	/* IE10 */ 
	background-image: -ms-radial-gradient(center, circle farthest-corner, #B5B5B5 0%, #4A4A4A 100%);
	/* Mozilla Firefox */ 
	background-image: -moz-radial-gradient(center, circle farthest-corner, #B5B5B5 0%, #4A4A4A 100%);
	/* Opera */ 
	background-image: -o-radial-gradient(center, circle farthest-corner, #B5B5B5 0%, #4A4A4A 100%);
	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(radial, center center, 0, center center, 509, color-stop(0, #B5B5B5), color-stop(1, #4A4A4A));
	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-radial-gradient(center, circle farthest-corner, #B5B5B5 0%, #4A4A4A 100%);
}

#container {
	height:100%;
}
#content {
}

#launchpad {
}

h1 {
	font-size:6em;
	font-family:serif;
	font-style:italic;
	text-align:center;
	color:#fff;
	margin-bottom:0.2em;
	text-shadow: rgba(0,0,0,1) 0 2px 4px;
}

ul {
	list-style:none;
	margin:auto;
	width:600px;
}

li {
	text-align:center;
	background-image:url(images/shadow.png);
	background-repeat:no-repeat;
	background-position:center;
	background-size:100%;
	width:200px;
	height:200px;
	float:left;
}

a {
	text-decoration:none;
	color:white;
	text-shadow: rgba(0,0,0,1) 0 -1px 1px;
}

img {
	width:160px;
}