{% extends "base.html" %}
{% load i18n %}
{% load auto_thumbnail %}

{% block title %}
	{{ person }}
{% endblock %}

{% block head_extras %}
	<link rel="stylesheet" href="{{ STATIC_URL }}styles/default/people/detail.css">
{% endblock %}

{% block sidebar %}
	{% if perms.people.change_person %}
		<p><a href="{{ change_url }}">Edit profile</a></p>
	{% endif %}

	<div id="related_people">
		<h2>{% trans "Related" %}</h2>

		{% for p in person.related_people.all %}
		<div>
			{% if p.related_person.photo %}
				<img src="{{ p.related_person.photo|thumbnail:"64w" }}" alt="{% trans 'Photo' %}">
			{% else %}
				<img src="{{ STATIC_URL }}missing.png" alt="{% trans 'Photo' %}">
			{% endif %}
			<dl>
				<dt><a href="{{ p.related_person.get_absolute_url }}">{{ p.related_person }}</a></dt>
				<dd>{{ p.relationship_type.description }}</dd>
			</dl>
		</div>
		{% endfor %}
	</div>
{% endblock %}

{% block content %}
	<h1>{{ person.last_name }}, {{ person.first_name }} {{ person.middle_names }}</h1>

	<div id="photo">
	{% if person.photo %}
		<img src="{{ person.photo|thumbnail:"256w" }}" alt="Photo of {{ person.first_name }} {{ person.last_name }}">
	{% else %}
		<img src="{{ STATIC_URL }}missing.png" alt="Photo missing">
	{% endif %}
	</div>

	<div id="personal_details">
		{% if person.email %}
			<div id="email">
				<dl>
					<dt>{% trans 'Email' %}</dt>
					<dd><a href="mailto:{{ person.email }}">{{ person.email }}</a></dd>
				</dl>
			</div>
		{% endif %}

		<div id="phone_numbers">
			<dl>
					{% if person.phone %}
					<dt>{% trans 'Phone' %}</dt>
					<dd>{{ person.phone }}</dd>
					{% endif %}
					{% if person.residence.phone %}
					<dt>{% trans 'Home' %}</dt>
					<dd>{{ person.residence.phone }}</dd>
					{% endif %}
			</dl>
		</div>

		<dl>
			<dt>{% trans 'Address' %}</dt>
			<dd>
				<address>
					{{ person.residence.number }} {{ person.residence.street }}<br>
					{{ person.residence.suburb }}<br>
					{{ person.residence.city }}<br>
					{{ person.residence.country }}<br>
					{{ person.residence.postcode }}
				</address>
			</dd>
		</dl>

		<dl>
			<dt>{% trans "Gender" %}</dt>
			<dd>{{ person.get_gender_display }}</dd>

			<dt>{% trans "Date of birth" %}</dt>
			<dd>{{ person.birth_date }}</dd>

		{% with ethnicity_list=person.ethnicity.all %}
			{% if ethnicity_list %}
				<dt>{% trans "Ethnicity" %}</dt>
				{% for ethnicity in ethnicity_list %}
					<dd>{{ ethnicity }}</dd>
				{% endfor %}
			{% endif %}
		{% endwith %}

		{% with iwi_list=person.iwi.all %}
			{% if iwi_list %}
				<dt>{% trans "Iwi" %}</dt>
				{% for iwi in iwi_list %}
					<dd>{{ iwi }}</dd>
				{% endfor %}
			{% endif %}
		{% endwith %}

			<dt>{% trans "Citizenship" %}</dt>
			<dd>{{ person.citizenship }}</dd>
		</dl>
	</div>
	
	{% if person.student %}
		<hr style="clear:left">
		{% with student=person.student %}
			{% include "students/detail.html" %}
		{% endwith %}
	{% endif %}
{% endblock %}
