{% extends "base.html" %}
{% load i18n %}

{% block content %}
	{% if error_message %}<p class="error_message">{{ error_message }}</p>{% endif %}

	<form action="." method="post">
		{% csrf_token %}
		{{ form.non_field.errors }}

		<fieldset>
			<legend>{% trans 'Name' %}</legend>
			<div>
				{{ form.first_name.errors }}
				<label for="{{ form.first_name.auto_id }}">{{ form.first_name.label }}</label>
				{{ form.first_name }}
			</div>
			<div>
				{{ form.middle_names.errors }}
				<label for="{{ form.middle_names.auto_id }}">{{ form.middle_names.label }}</label>
				{{ form.middle_names }}
			</div>
			<div>
				{{ form.last_name.errors }}
				<label for="{{ form.last_name.auto_id }}">{{ form.last_name.label }}</label>
				{{ form.last_name }}
			</div>
		</fieldset>
		<fieldset>
			<legend>{% trans 'Preferred Name' %}</legend>
			<div>
				{{ form.preferred_first_name.errors }}
				<label for="{{ form.preferred_first_name.auto_id }}">{{ form.first_name.label }}</label>
				{{ form.preferred_first_name }}
			</div>
			<div>
				{{ form.preferred_last_name.errors }}
				<label for="{{ form.preferred_last_name.auto_id }}">{{ form.last_name.label }}</label>
				{{ form.preferred_last_name }}
			</div>
		</fieldset>
		<div>
			{{ form.gender.errors }}
			<label for="{{ form.gender.auto_id }}">{{ form.gender.label }}</label>
			{{ form.gender }}		
		</div>
		<div>
			{{ form.ethnicity.errors }}
			<label for="{{ form.ethnicity.auto_id }}">{{ form.ethnicity.label }}</label>
			{{ form.ethnicity }}		
		</div>
		
		<fieldset>
			<legend>Residence</legend>
			<div>
				{{ form.residence.errors }}
				<label for="{{ form.residence.auto_id }}">{{ form.residence.label }}</label>
				{{ form.residence }}
			</div>
			<fieldset>
				<legend>New Residence</legend>
				{{ address_form }}
			</fieldset>
		</fieldset>
		
		<div>
			{{ form.citizenship.errors }}
			<label for="{{ form.citizenship.auto_id }}">{{ form.citizenship.label }}</label>
			{{ form.citizenship }}		
		</div>
		<div>
			{{ form.iwi.errors }}
			<label for="{{ form.iwi.auto_id }}">{{ form.iwi.label }}</label>
			{{ form.iwi }}		
		</div>
		

		<input type="submit" value="{% trans 'Save' %}" class="default" name="_save">
	</form>
{% endblock %}

