{% extends "base.html" %}
{% load i18n %}

{% block title %}Add a new course{% endblock %}

{% block head_extras %}
	<!--<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor.js"></script>-->
	<script type="text/javascript" src="{{ STATIC_URL }}wymeditor/jquery/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}wymeditor/jquery/jquery-ui-1.8.11.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}wymeditor/jquery/jquery.ui.resizable.css">
	<script type="text/javascript" src="{{ STATIC_URL }}wymeditor/wymeditor/jquery.wymeditor.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}wymeditor/settings.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}wymeditor/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}wymeditor/wymeditor/plugins/resizable/jquery.wymeditor.resizable.js"></script>
	
	<script type="text/javascript">
		jQuery(function() {
			KAPUA_WYM_SETTINGS.stylesheet = '{{ STATIC_URL }}wymeditor/styles.css';
			jQuery('#{{ form.content.auto_id }}').wymeditor(KAPUA_WYM_SETTINGS);
		});
	</script>
{% endblock %}

{% block content %}
		<h1>Add a course</h1>

		{% if error_message %}<p class="error_message">{{ error_message }}</p>{% endif %}
	
		<form action="." method="POST" class="form_settings">
			{% csrf_token %}
			{{ form.non_field.errors }}
			
			<fieldset>
				<div>
					<label for="{{ form.name.auto_id }}">{{ form.name.label }}</label>
					{{ form.name }}
					{{ form.name.errors }}
				</div>
				<div>
					{% if form.short_name.errors %}
					<span style="color: red!important">
					{% endif %}
					<label for="{{ form.short_name.auto_id }}">{{ form.short_name.label }}</label>
					{% if form.short_name.errors %}
					</span>
					{% endif %}
					{{ form.short_name }}
					{{ form.short_name.errors }}
				</div>
				<div>
					<!--<label for="{{ form.content.auto_id }}">{{ form.content.label }}</label>-->
					{{ form.content }}
					{{ form.content.errors }}
				</div>
				<div>
					<label for="{{ form.subject.auto_id }}">{{ form.subject.label }}</label>
					{{ form.subject }}
					{{ form.subject.errors }}
				</div>
				<div>
					<label for="{{ form.instructional_year_level.auto_id }}">{{ form.instructional_year_level.label }}</label>
					{{ form.instructional_year_level }}
					{{ form.instructional_year_level.errors }}
				</div>
			</fieldset>

			<input type="submit" value="{% trans 'Save' %}" name="_save" class="submit default wymupdate">
			<input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" class="submit wymupdate">
			<input type="submit" value="{% trans 'Save and add another' %}" name="_addanother" class="submit wymupdate">
		</form>
{% endblock %}
