{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "courses" %}{% endblock %}

{% block sidebar %}
	{% if perms.courses.add_course %}
		<ul>
			<li><a href="./add/">Add new course</a></li>
		</ul>
	{% endif %}
{% endblock %}

{% block content %}
	<table>
		<thead>
			<tr>
				<th>Subject</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>
        		{% for course in object_list %}
			<tr>
				<td>{{ course.subject }}</td>
				<td><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></td>
			</tr>
        		{% endfor %}
		</tbody>
	</table>
{% endblock %}
