{% extends "base.html" %}
{% load attachments_tags %}
{% load i18n %}

{% block title %}Editing {{ form.name.value }}{% endblock %}

{% block head_extras %}
	<script type="text/javascript" src="{{ STATIC_URL }}wymeditor/jquery/jquery.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}wymeditor/jquery/jquery-ui-1.8.11.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}wymeditor/jquery/jquery.ui.resizable.css">
	<script type="text/javascript" src="{{ STATIC_URL }}wymeditor/wymeditor/jquery.wymeditor.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}wymeditor/settings.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}wymeditor/wymeditor/plugins/hovertools/jquery.wymeditor.hovertools.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}wymeditor/wymeditor/plugins/resizable/jquery.wymeditor.resizable.js"></script>
	
	<script type="text/javascript">
		jQuery(function() {
			KAPUA_WYM_SETTINGS.stylesheet = '{{ STATIC_URL }}wymeditor/styles.css';
			jQuery('#{{ form.content.auto_id }}').wymeditor(KAPUA_WYM_SETTINGS);
		});
	</script>
{% endblock %}

{% block sidebar %}
	{% if object.id %}
		{% get_attachments_for object as "attachments" %}
		{% if attachments %}
			<ul id="file_attachments">
				{% for att in attachments %}
					<img src="{{ att.attachment_file.url }}"> {{ att.name }} {% attachment_delete_form att %}
				{% endfor %}
			</ul>
		{% endif %}
		{% attachment_form object %}
	{% endif %}
{% endblock %}

{% block content %}
	{% if error_message %}<p class="error_message">{{ error_message }}</p>{% endif %}

	<form action="." method="POST" class="form_settings">
		{% csrf_token %}
		{{ form.non_field.errors }}
		
		<fieldset>
			<div>
				{{ form.course.errors }}
				<label for="{{ form.course.auto_id }}">{{ form.course.label }}</label>
				{{ form.course }}
			</div>
			<div>
				{{ form.name.errors }}
				<label for="{{ form.title.auto_id }}">{{ form.name.label }}</label>
				{{ form.name }}
			</div>
			<div>
				{{ form.content.errors }}
				<!--<label for="{{ form.content.auto_id }}">{{ form.content.label }}</label>-->
				{{ form.content }}
			</div>
		</fieldset>

		<input type="submit" value="{% trans 'Save' %}" class="default submit wymupdate" name="_save">
	</form>
{% endblock %}

