<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<link rel="icon" href="{{ STATIC_URL }}icon.png">
		<link rel="apple-touch-icon" href="{{ STATIC_URL }}icon.png">

		{% block head_extras %}{% endblock %}
	</head>
	<body>
		<div id="main">
			<div id="header">
				{% include "mainmenu.html" %}

				<div id="user">
				{% if user.is_authenticated %}
					{% if user.person %}
						Welcome, <a href="{{ user.person.get_absolute_url }}">{{ user.person.first_name }} {{ user.person.last_name }}</a>
					{% endif %}
				{% endif %}
				</div>

				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>

			<div id="site_content">
				<div id="sidebar">
					{% block sidebar %}{% endblock %}
				</div>
				<div id="content">
					{% block content %}{% endblock %}
				</div>
			</div>

			<div id="footer">
				{% block footer %}{% endblock %}
			</div>
		</div>
	</body>
</html>
