#photo {
	float:left;
	padding-left:4px;
}
#photo img {
	display:block;
	-webkit-box-shadow: 1px 1px 4px 2px ;
	-moz-box-shadow: 1px 1px 4px 2px ;
	box-shadow: 1px 1px 4px 2px ; 
}

#personal_details {
	margin-left:256px;
}
#personal_details dt {
	width:9em;
	float:left;
	text-align:right;
}
#personal_details dd {
	margin-left:10em;
	margin-bottom:1em;
}

#related_people div {
	height:64px;
}
#related_people img {
	float:left;
	margin-right:0.5em;
}
#related_people dl {
	margin:0;
}
